{% extends 'main/base.html'%}
{% load bootstrap4 %}
{% load static %}


   
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
  crossorigin="anonymous"
/>
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


{% block content %}  


<h1 class="text-center">
  <!-- 

 -->
</h1>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
<div class="wrapper">
    {% for covid in covid %}
            <div class="box">
              
                <div class="description">
                   <h5 style="color: red;">Continent:{{covid.Continent}}</h5>
                    <p style="color: red;">Country:{{covid.Country}}</p>
                    <p style="color: white;">Deaths</p><p style="color: aqua;">{{covid.TotalDeaths}}</p>
                    <p style="color: white;">People Tested:</p><p style="color: aqua;">{{covid.TotalTests}}</p>
                    <p style="color: white;">New cases:</p><p style="color: aqua;">{{covid.NewCases}}</p>
                   <p style="color: white;"> Population:</p><p style="color: aqua;">{{covid.Population}}</p>
                    <p style="color: white;">Fatality Rate:</p><p style="color: aqua;">{{covid.Case_Fatality_Rate}}</p>
                   <p style="color: white;"> Infection Risk:</p><p style="color: aqua;">{{covid.Infection_Risk}}</p>
                    <p style="color: white;">Active cases:</p><p style="color: aqua;">{{covid.ActiveCases}}</p>
                    <p style="color: white;">Test percentage:</p><p style="color: aqua;">{{covid.Test_Percentage}}</p>

                </div>
                
            </div>

            {% endfor %}
        </div>
        <style>
  
      body{
          min-height:100vh;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .wrapper{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          background-image: url("https://images.pexels.com/photos/3503629/pexels-photo-3503629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
          background-repeat: repeat;
          background-position: center;
          background-size: cover; 
      }
      .description{
          width: auto;
          height: auto;
          padding: .3em;
      }
      .wrapper .box{
          box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
          border-radius:15px;
          margin:30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top:1px solid rgba(255,255,255,0.5);
          border-left:1px solid rgba(255,255,255,0.5);
          backdrop-filter: blur(5px);
          transform-style: preserve-3d;
          transform: perspective(800px) 
      }
      h2{
          color:#f5f5f5;
          font-size:2.5rem;
          text-align: center;
          font-family: 'Acme', sans-serif;
      }
      p{
          color:#ccc;
          margin:20px 10px;
          font-family: 'Fira Code', monospace;
      }
      ul{
          list-style: none;
          width:100%;
          display: flex;
          justify-content: space-evenly;
          margin:30px 0;
          padding:10px;
      }
      
      li{
          cursor: pointer;
          width:30px;
          height:30px;
      }
      i{
          color:#ccc;
          font-size: 1.5rem;
          transition: all 0.3s ease;
      }
      li:hover .fa-twitter{
          transform:translate3d(0,-10px,20px);
          color:#00acee;
      }
      li:hover .fa-github{
          transform:translate3d(0,-10px,20px);
          color:gray;
      }
      li:hover .fa-linkedin-in{
          transform:translate3d(0,-10px,20px);
          color:#077099;
      }
      </style>
 <script src="https://kit.fontawesome.com/bad7f7f5d4.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".box"), {
		max: 25,
        speed: 400,
        easing:"cubic-bezier(.03,.98,.52,.99)",
        perspective:500,
        transition:true
    });
</script>

{% endblock %}